@page
@model WebApp.Pages.AiGame

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-7 text-center"><h1 class="display-4">TIC-TAC-TWO</h1></div>
        <div class="col-3 text-center">
            <button class="btn passwords" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                @Model.GameName
            </button>
            <div class="collapse" id="collapseExample">

                <div class="card card-body">
                    @if (Model.PasswordX != null)
                    {
                        <div>X password: @Model.PasswordX</div>
                    }
                    @if (Model.PasswordO != null)
                    {
                        <div>O password: @Model.PasswordO</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Game", Model)